*{
    background-color : white ; 
}

.best{
    background-color : red ;
    font-size : 20 ;
    color : blue ;
    border-color : green ;
    font-style : normal ;
    font-weight : 700 ;
    font-family : cursive ;
    text-align : center ;
    letter-spacing :  -1px ;
    word-spacing : -1px ;
    text-shadow : 1.5 px  2.0 px 1ox red ;
}